<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title></title>
    <!-- Bootstrap core CSS-->
    <!-- Favicons -->
    <link href="~/Content/assets/img/favicon.png" rel="icon">
    <link href="~/Content/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- Vendor CSS Files -->
    <link href="~/Content/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/simple-datatables/style.css" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="~/Content/assets/css/style.css" rel="stylesheet">


</head>

<body class="bg-dark">
    @*@Html.Partial("_PartialNavbar")*@


    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="@Url.Action("Dashboard","Dashboard" )" class="logo d-flex align-items-center">

                <span class="d-none d-lg-block">LMS</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->

        <div class="search-bar">
            <form class="search-form d-flex align-items-center" method="POST" action="#">
                <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
            </form>
        </div><!-- End Search Bar -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item d-block d-lg-none">
                    <a class="nav-link nav-icon search-bar-toggle " href="#">
                        <i class="bi bi-search"></i>
                    </a>
                </li><!-- End Search Icon-->

                <li class="nav-item dropdown pe-3">
                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="" alt="" class="rounded-circle">
                        <span class="d-none d-md-block dropdown-toggle ps-2">User</span>
                    </a><!-- End Profile Iamge Icon -->
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="@Url.Action("Profile","Profile")">
                                <i class="fa fa tox-user__avatar"></i>
                                <span>My Profile</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <i class="bi bi-gear"></i>
                                <span>Account Settings</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="@Url.Action("LogOut","Account")">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Sign Out</span>
                            </a>
                        </li>

                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item">
                <a class="nav-link " href="@Url.Action("Dashboard","Dashboard" )">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#components-nav" role="button" data-bs-toggle="collapse" href="#">
                    <i class="fas fa-fw fa-suitcase"></i><span>Leaves</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">

                    <h6 class="dropdown-header">Leave Applications:</h6>
                    <a class="dropdown-item" href="@Url.Action("LeaveApplication", "LeaveApplication" )">New Application</a>
                    @if (HttpContext.Current.Session["CanApplyLeaveForAnother"].ToString() == "TRUE")
                    {
                        <a class="dropdown-item" href="@Url.Action("LeaveForOther", "LeaveForOther" )">Apply for other</a>
                    }
                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">My Summaries:</h6>
                    <a class="dropdown-item" href="@Url.Action("Leave", "Leave" ,new {status="Open" ,owner="self" })">Open</a>
                    <a class="dropdown-item" href="@Url.Action("Leave","Leave",new {status="Pending" ,owner="self" })">Pending</a>
                    <a class="dropdown-item" href="@Url.Action("Leave","Leave",new {status="Approved" ,owner="self" })">Approved</a>
                    <a class="dropdown-item" href="@Url.Action("Leave","Leave",new {status="Rejected" ,owner="self" })">Rejected</a>
                    @if (HttpContext.Current.Session["CanApplyLeaveForAnother"].ToString() == "TRUE")
                    {
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">Summaries for others:</h6>
                        <a class="dropdown-item" href="@Url.Action("LeaveForOther", "LeaveForOther" ,new {status="Open" ,owner="others" })">Open</a>
                        <a class="dropdown-item" href="@Url.Action("LeaveForOther","LeaveForOther",new {status="Pending" ,owner="others" })">Pending</a>
                        <a class="dropdown-item" href="@Url.Action("LeaveForOther","LeaveForOther",new {status="Approved" ,owner="others" })">Approved</a>
                        <a class="dropdown-item" href="@Url.Action("LeaveForOther","LeaveForOther",new {status="Rejected" ,owner="others" })">Rejected</a>
                    }
                </ul>
            <li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#forms-nav" role="button" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-journal-text"></i><span>LeavesRecall</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <h6 class="dropdown-header">Leave Recall Applications:</h6>
                    <a class="dropdown-item" href="@Url.Action("LeaveRecallApplication","LeaveRecallApplication")">
                        New Application
                    </a>
                    @if (HttpContext.Current.Session["CanApplyLeaveForAnother"].ToString() == "TRUE")
                    {
                        <a class="dropdown-item" href="@Url.Action("LeaveRecallForOther","LeaveRecallForOther")">Apply for other</a>
                    }
                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">My Summaries:</h6>
                    <a class="dropdown-item" href="@Url.Action("LeaveRecalls", "LeaveRecalls" ,new {status="Open" ,owner="self"
            })">Open</a>
                    <a class="dropdown-item" href="@Url.Action("LeaveRecalls","LeaveRecalls",new {status="Pending" ,owner="self"
            })">Pending</a>
                    <a class="dropdown-item" href="@Url.Action("LeaveRecalls","LeaveRecalls",new {status="Approved" ,owner="self"
            })">Approved</a>
                    <a class="dropdown-item" href="@Url.Action("LeaveRecalls","LeaveRecalls",new {status="Rejected" ,owner="self"
            })">Rejected</a>
                    @if (HttpContext.Current.Session["CanApplyLeaveForAnother"].ToString() == "TRUE")
                    {
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header"> Summaries for others:</h6>
                        <a class="dropdown-item" href="@Url.Action("LeaveRecallForOther", "LeaveRecallForOther" ,new {status="Open" ,owner="others"
            })">Open</a>
                        <a class="dropdown-item" href="@Url.Action("LeaveRecallForOther","LeaveRecallForOther",new {status="Pending"
            ,owner="others" })">Pending</a>
                        <a class="dropdown-item" href="@Url.Action("LeaveRecallForOther","LeaveRecallForOther",new {status="Approved"
            ,owner="others" })">Approved</a>
                        <a class="dropdown-item" href="@Url.Action("LeaveRecallForOther","LeaveRecallForOther",new {status="Rejected"
            ,owner="others" })">Rejected</a>
                    }

                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#charts-nav" role="button" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-bar-chart"></i><span>Reports</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>

            </li>
            
                <li class="nav-item">
                    <a class=" nav-link dropdown-toggle" href="#" id="ProfileDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-fw fa-user"></i>
                        <span>User Profile</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="ProfileDropdown">
                        <h6 class="dropdown-header">User Information:</h6>
                        <a class="dropdown-item" href="@Url.Action("Profile","Profile")">View Profile</a>
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">User Login:</h6>
                        <a class="dropdown-item" href="@Url.Action("OneTimePassword","Account")">Change Password</a>
                    </div>
                </li>>
            </ul>
           
</aside><!-- End Sidebar-->
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>


    <!-- Logout Modal-->
    <!-- Vendor JS Files -->
    <script src="~/Content/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/Content/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/assets/vendor/chart.js/chart.min.js"></script>
    <script src="~/Content/assets/vendor/echarts/echarts.min.js"></script>
    <script src="~/Content/assets/vendor/quill/quill.min.js"></script>
    <script src="~/Content/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/Content/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/Content/assets/vendor/php-email-form/validate.js"></script>
    <!-- Template Main JS File -->
    <script src="~/Content/assets/js/main.js"></script>
    <script src="~/Assest/vendor/jquery/jquery.min.js"></script>
    <script src="~/Assest/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <link href="~/Assest/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    @*Custom fonts for this template*@
    <link href="~/Assest/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    @*Page level plugin CSS*@
    <link href="~/Assest/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.bootstrap4.min.css" rel="stylesheet">
    @*Custom styles for this template*@

    <link href="~/Assest/css/custom.css" rel="stylesheet">
    @*Core plugin JavaScript*@
    <script src="~/Assest/vendor/jquery-easing/jquery.easing.min.js"></script>

    @*Page level plugin JavaScript*@
    <script src="~/Assest/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/Assest/vendor/datatables/dataTables.bootstrap4.js"></script>

    @*Custom scripts for all pages*@
    <script src="~/Assest/js/sb-admin.min.js"></script>
    <script src="~/Assest/js/bootbox.all.min.js"></script>
    <script src="~/Assest/js/bootboxError.js"></script>
    <script src="~/Assest/js/jquery.pleaseWait.js"></script>

    @*Demo scripts for this page*@

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="@Url.Action("Account","LogOut")">Logout</a>
                </div>
            </div>
        </div>
    </div>
    @*@RenderSection("Scripts", false/*required*/) *@

    @*@Html.Partial("_PartialSidebar");*@
    @RenderBody()
</body>

</html>