<ul class="sidebar navbar-nav toggled"> 
    <li class="nav-item  @{Response.Write(HttpContext.Current.Session[" IsDashboardActive"].ToString());}">
        <a class="nav-link" href="@Url.Action("Dashboard", "Dashboard")">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <li class="nav-item dropdown  @{Response.Write(HttpContext.Current.Session[" IsLeavesActive"].ToString()); }
        ">
        <a class="nav-link dropdown-toggle" href="#" id="LeavesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-suitcase"></i>
            <span>Leaves</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="LeavesDropdown">
            <h6 class="dropdown-header">Leave Applications:</h6>
            <a class="dropdown-item" href="@Url.Action("LeaveApplication", "LeaveApplication")">New Application</a>
            @if (HttpContext.Current.Session["CanApplyLeaveForAnother"].ToString() == "TRUE")
            {
                <a class="dropdown-item" href="@Url.Action("LeaveForOther", "LeaveForOther")">Apply for other</a>
            }
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">My Summaries:</h6>
            <a class="dropdown-item" href="@Url.Action("Leave", "Leave",new {status="Open",owner="self"})">Open</a>
            <a class="dropdown-item" href="@Url.Action("Leave","Leave",new {status="Pending",owner="self"})" )">Pending</a>
            <a class="dropdown-item" href="@Url.Action("Leave","Leave",new {status="Approved",owner="self"})" )">Approved</a>
            <a class="dropdown-item" href="@Url.Action("Leave","Leave",new {status="Rejected",owner="self"})" )">Rejected</a>
            @if (HttpContext.Current.Session["CanApplyLeaveForAnother"].ToString() == "TRUE")
            {
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header">Summaries for others:</h6>
                <a class="dropdown-item" href="@Url.Action("Leave", "Leave",new {status="Open",owner="others"})">Open</a>
                <a class="dropdown-item" href="@Url.Action("Leave","Leave",new {status="Pending",owner="others"})" )">Pending</a>
                <a class="dropdown-item" href="@Url.Action("Leave","Leave",new {status="Approved",owner="others"})" )">Approved</a>
                <a class="dropdown-item" href="@Url.Action("Leave","Leave",new {status="Rejected",owner="others"})" )">Rejected</a>
                }
        </div>
    </li>
    <li class="nav-item dropdown @{ Response.Write(HttpContext.Current.Session[" IsRecallActive"].ToString()); }
        ">
        <a class="nav-link dropdown-toggle" href="#" id="LeaveRecallDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-folder"></i>
            <span>Leave Recalls</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="LeaveRecallDropdown">
            <h6 class="dropdown-header">Leave Recall Applications:</h6>
            <a class="dropdown-item" href="@Url.Action("LeaveRecallApplication","LeaveRecallApplication")">New Application</a>
            @if (HttpContext.Current.Session["CanApplyLeaveForAnother"].ToString() == "TRUE")
            {
                <a class="dropdown-item" href="@Url.Action("Leave","Leave")">Apply for other</a>
            }
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">My Summaries:</h6>
            <a class="dropdown-item" href="@Url.Action("LeaveRecalls", "LeaveRecalls",new {status="Open",owner="self"})">Open</a>
            <a class="dropdown-item" href="@Url.Action("LeaveRecalls","LeaveRecalls",new {status="Pending",owner="self"})" )">Pending</a>
            <a class="dropdown-item" href="@Url.Action("LeaveRecalls","LeaveRecalls",new {status="Approved",owner="self"})" )">Approved</a>
            <a class="dropdown-item" href="@Url.Action("LeaveRecalls","LeaveRecalls",new {status="Rejected",owner="self"})" )">Rejected</a>
            @if (HttpContext.Current.Session["CanApplyLeaveForAnother"].ToString() == "TRUE")
            {
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header"> Summaries for others:</h6>
                <a class="dropdown-item" href="@Url.Action("LeaveRecalls", "LeaveRecalls",new {status="Open",owner="others"})">Open</a>
                <a class="dropdown-item" href="@Url.Action("LeaveRecalls","LeaveRecalls",new {status="Pending",owner="others"})" )">Pending</a>
                <a class="dropdown-item" href="@Url.Action("LeaveRecalls","LeaveRecalls",new {status="Approved",owner="others"})" )">Approved</a>
                <a class="dropdown-item" href="@Url.Action("LeaveRecalls","LeaveRecalls",new {status="Rejected",owner="others"})" )">Rejected</a>}
        </div>
    </li>

    <li class="nav-item dropdown @{Response.Write(System.Web.HttpContext.Current.Session[" IsReportsActive"].ToString());}
        ">
        <a class="nav-link dropdown-toggle" href="#" id="ReportsDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-file-pdf"></i>
            <span>Reports</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="ReportsDropdown">
            <h6 class="dropdown-header">Payslips</h6>
            <a class="dropdown-item" href="Payslips.aspx">Download</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header"> P9 Forms:</h6>
            <a class="dropdown-item" href="P9Forms.aspx">Download</a>
            <h6 class="dropdown-header"> Staff Advance:</h6>
            <a class="dropdown-item" href="AdvanceRequest.aspx">Download</a>
        </div>
    </li>
    <li class="nav-item dropdown @{Response.Write(HttpContext.Current.Session["IsProfileActive"].ToString());}
        ">
        <a class="nav-link dropdown-toggle" href="#" id="ProfileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-user"></i>
            <span>User Profile</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="ProfileDropdown">
            <h6 class="dropdown-header">User Information:</h6>
            <a class="dropdown-item" href="@Url.Action("Profile","Profile")">View Profile</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">User Login:</h6>
            <a class="dropdown-item" href="@Url.Action("OneTimePassword","Account")">Change Password</a>
        </div>
    </li>>
</ul>