@model LMS.Models.OneTimePassword

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title> Change Password</title>
    <!-- Bootstrap core CSS-->
    <link href="~/Assest/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="~/Assest/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <script>
        $("#btnSubmit").click(function (event) {
            // Fetch form to apply custom Bootstrap validation
            var form = $("#myForm")
            if (form[0].checkValidity() === false) {
                event.preventDefault()
                event.stopPropagation()
                form.addClass('was-validated');
            } else if (form[0].checkValidity() === true) {
                if ($("#txt_pass1").val() != $("#txt_pass2").val()) {
                    bootbox.error({ title: "Validation error", message: "Password do not match" });
                    return;
                } else {
                    var txt_pass = $('#txt_pass').val();
                    var txt_pass2 = $('#txt_pass2').val();
                    jQuery.ajax({
                        url:"@Url.Action("OneTimePass", "Account")",
                        type: "POST",
                        data: '{param1:"' + txt_pass + '", param2:"' + txt_pass2 + '"}',
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (response) {
                            if (response != null) {
                                var data = $.parseJSON(response);

                                if (data.Status != "000") {
                                    bootbox.error({ title: "Authentication error", message: data.Message });
                                } else {
                                    bootbox.alert("Password change success. Login with your new credentials please.")
                                    window.setTimeout(function () {
                                        window.location.href = "Logout.aspx";
                                    }, 2000);
                                }
                            }
                        },
                        error: function () {
                            bootbox.error({ title: "Application error", message: "Could not process request" });
                        }
                    });
                }
            }
            event.preventDefault();
        });
    </script>
    <link href="~/Content/Assest/css/sb-admin.css" rel="stylesheet">
    <link href="~/Content/assets/img/favicon.png" rel="icon">
</head>
<body class="bg-dark">

    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Change Password </div>
            <div class="card-body">
                <form novalidate="" action="" method="POST" id="myForm">
                    <div class="form-group">
                        <label for="txt_pass">Old Password</label>
                        @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control", @placeholder = "Old Password" })
                        @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "" })
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Old password must be provided</div>
                    </div>
                    <div class="form-group">
                        <label for="txt_pass1">New password</label>
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "New Password" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "" })       <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Password must be in correct format</div>
                    </div>
                    <div class="form-group">
                        <label for="txt_pass2">Confirm new password</label>
                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "" })     <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Password must be in correct format</div>
                    </div>          
                    <div class="form-group">
                        <input type="submit" value="Change Password" class="btn btn-primary btn-block" id="btnSubmit" />
                    </div>
                </form>
                </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Assest/vendor/jquery/jquery.min.js"></script>
    <script src="~/Assest/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Assest/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/Assest/js/bootbox.all.min.js"></script>
    <script src="~/Assest/js/bootboxError.js"></script>
    <!--BACKSTRETCH-->
    <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
    <script type="text/javascript" src="~/Assest/js/jquery.backstretch.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
    <script src="~/Assest/js/jquery.toast.js"></script>
    <!--BACKSTRETCH-->
    <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
    <script type="text/javascript" src="js/jquery.backstretch.min.js"></script>
    <script>
      $.backstretch("images/bg.jpg", {speed: 500});
    </script>
</body>
</html>

