@model LMS.Models.CreateAdvanceRequest

@{
    ViewBag.Title = "CreateAdvanceRequest";
}


<main>
    <div id="wrapper">
    <div id="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item">Advance Requests</li>
            <li class="breadcrumb-item">Staff Advance</li>
            <li class="breadcrumb-item active">Create Staff Advance</li>
        </ol>
        <!-- DataTables Example -->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-wallet"></i>
                Create Advance Request
            </div>
            <form runat="server" novalidate="" action="#" method="POST" id="LeaveApplicationForm" autocomplete="off">
                <div class="card-body">
                    <div class="row mb-5">
                        <div class="col-md-4 mb-4">
                            <div>Staff Advance Information</div>
                            <div class="text-muted small">Shows information for advance request</div>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="DateOfRequest">Expected mission start date</label>
                                        <asp:TextBox class="form-control" id="DateOfRequest" runat="server" required="true"></asp:TextBox>
                                        @Html.TextBoxFor(model => model.DateOfRequest, new { @class = "form-control" })
                                        <div class="valid-feedback">Looks good!</div>
                                        <div class="invalid-feedback">The date of request must be selected</div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="DateDue">Expected mission end date</label>
                                        <asp:TextBox class="form-control" id="DateDue" runat="server" required="true"></asp:TextBox>
                                        @Html.TextBoxFor(model => model.DateDue, new { @class = "form-control" })
                                        <div class="valid-feedback">Looks good!</div>
                                        <div class="invalid-feedback">The date due must be selected</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <asp:label id="DimCode1Label" runat="server" />
                                        @Html.LabelFor(m => m.DimCode1Label)
                                        <asp:DropDownList CssClass="form-control" ID="DimCode1" runat="server" AutoPostBack="false" required="true" style="width:100%"> </asp:DropDownList>
                                        <div class="valid-feedback">Looks good!</div>
                                        <div class="invalid-feedback">The Dimension Code 1 must be selected</div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <asp:label id="DimCode2Label" runat="server" />
                                        <asp:DropDownList CssClass="form-control" ID="DimCode2" runat="server" AutoPostBack="false" required="true" style="width:100%"> </asp:DropDownList>

                                        <div class="valid-feedback">Looks good!</div>
                                        <div class="invalid-feedback">The Dimension Code 2 must be selected</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <asp:label id="DimCode4Label" runat="server" />
                                        <asp:DropDownList CssClass="form-control" ID="DimCode4" runat="server" AutoPostBack="false" required="true" style="width:100%"> </asp:DropDownList>

                                        <div class="valid-feedback">Looks good!</div>
                                        <div class="invalid-feedback">The Dimension Code 4 must be selected</div>
                                    </div>
                                </div>
                                <!--<div class="col-md-6">
                                    <div class="form-group">
                                        <asp:label id="DimCode8Label" runat="server" />
                                        <asp:DropDownList CssClass="form-control" ID="DimCode8" runat="server" AutoPostBack="false" required="true" style="width:100%"> </asp:DropDownList>

                                        <div class="valid-feedback">Looks good!</div>
                                        <div class="invalid-feedback">The Dimension Code 8 must be selected</div>
                                    </div>
                                </div>-->
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="Balance">Balance</label>
                                        <asp:TextBox CssClass="form-control" ID="Balance" runat="server" required="true" disabled="false"> </asp:TextBox>
                                        @Html.TextBoxFor(model => model.Balance, new { @class = "form-control" })
                                        <div class="valid-feedback">Looks good!</div>
                                        <div class="invalid-feedback">The currency must be selected</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label">Mission Summary (Type activity name and county visited)</label>
                                        <asp:TextBox TextMode="multiline" Columns="50" maxlength="50" Rows="3" runat="server" ID="MissionSummary" class="form-control MultiLineLimit" required="true"></asp:TextBox>
                                        @Html.TextBoxFor(model => model.MissionSummary, new { @class = "form-control" })
                                        <p class="pull-right text-muted small" id="count_message"></p>
                                        <div class="valid-feedback">Looks good!</div>
                                        <div class="invalid-feedback">The preffered method of payment must be provided</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="PreferredPaymentMethod">Preferred Payment Method</label>
                                        @Html.DropDownListFor(Model => Model.LoadPreferredPaymentMethod,
                                                        new SelectList(ViewBag.LoadPrefferedMethodOfPayment, "Id", "Name"),
                                                        "Select PreferredPaymentMethod",
                                                        new { @class = "form-control" })
                                        <div class="valid-feedback">Looks good!</div>
                                        <div class="invalid-feedback">The Dimension Code 4 must be selected</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row mb-5">
                        <div class="col-md-12">
                            <div class="col-md-4 mb-4">
                                <div>Staff advance Lines</div>
                                <div class="text-muted small">Add your staff advance lines here</div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-right">
                                        <a id="AddAppraisal" class="btn btn-success" href="#" data-toggle="modal" data-target="#AddAdvanceRequestLine" data-title="Create new staff advance line" title="Add staff advance line">Add staff advance line</a>
                                    </div>
                                    <br>
                                    <div class="table-responsive">
                                        <asp:PlaceHolder ID="placeholder" runat="server" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <div class="row mb-5">
                        <div class="col-md-12">
                            <div class="col-md-4 mb-4">
                                <div>Staff advance attachments</div>
                                <div class="text-muted small">Attach ToR(mandatory) and any other staff advance attachment</div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-right">
                                        <a id="AddAttAppraisal" class="btn btn-success" href="#" data-toggle="modal" data-target="#AddAttachment" data-title="Create new appraisal target" title="Add Attachments">Add Attachments </a>
                                    </div>
                                    <br>
                                    <div class="table-responsive">
                                        <asp:PlaceHolder ID="placeholder1" runat="server" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-footer bg-light text-right">
                    <button id="SubmitAdvance" class="btn btn-primary">Submit</button>
                </div>
            </form>

            <div class="card-footer small text-muted">Updated today at  @DateTime.Now.ToShortTimeString() </div>
        </div>

    </div>
    <!-- /.container-fluid -->
    <!-- Sticky Footer -->
    <footer class="sticky-footer">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright © @DateTime.Now.Year.ToString()  Brightsoft Technologies Limited</span>
            </div>
        </div>
    </footer>

    </div>
    <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
    </a>
    <div class="modal fade" id="AddAdvanceRequestLine">
    <div class="modal-dialog">
    <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Add staff advance Lines</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <form novalidate="" action="#" method="POST" id="CreateStaffImprestLines" autocomplete="off">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-control-label" for="Item"> Item</label>
                            <select class="form-control" id="Item" style="width:100%" required>
                                <option></option>
                            </select>
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">The item must be selected</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-control-label" for="ItemDescription">Description</label>
                            <input type="text" class="form-control" id="ItemDescription" required>
                            @Html.TextBoxFor(model => model.ItemDescription, new { @class = "form-control" })
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">The description must be supplied</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-control-label" for="UnitofMeasure">Unit of measure</label>
                            <select class="form-control" id="UnitofMeasure" style="width:100%" required>
                                <option></option>
                            </select>
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">The Unit of measure must be supplied</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-control-label" for="UnitCost">Unit cost</label>
                            <input type="text" class="form-control" id="UnitCost" required>
                            @Html.TextBoxFor(model => model.UnitCost, new { @class = "form-control" })
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">The Unit cost must be supplied</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-control-label" for="NoOfUnits">No Of Units</label>
                            <input type="text" class="form-control" id="NoOfUnits" required>
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">The No Of Units must be supplied</div>
                        </div>
                    </div>
                </div>
                <!--<div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="form-control-label" for="BudgetLineCode">Intervention</label>
                <select class="form-control" id="BudgetLineCode" style="width:100%" required>
                    <option></option>
                </select>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">The intervention must be specified</div>
            </div>
        </div>
    </div>-->
                <!--<%--GF--%>-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-control-label" for="BudgetLineCode">Budget Line</label>
                            <input type="text" class="form-control" id="BudgetLineCode" required>
                            @Html.TextBoxFor(model => model.BudgetLineCode, new { @class = "form-control" })
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">The intervention must be specified</div>
                        </div>
                    </div>
                </div> <!--KRCS-->

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-control-label" for="Purpose">Purpose</label>
                            <textarea class="form-control" rows="2" id="Purpose" required></textarea>
                            @Html.TextBoxFor(model => model.Purpose, new { @class = "form-control" })
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">The purpose must be supplied</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-control-label" for="Amount">Amount(LCY)</label>
                            <input type="text" class="form-control" id="Amount" required>
                            @Html.TextBoxFor(model => model.Amount, new { @class = "form-control" })
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">The Amount must be supplied</div>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="ExchangeRate" name="ExchangeRate" value="">
                @Html.TextBoxFor(model => model.ExchangeRate, new { @class = "form-control" })
                <input type="hidden" id="AdvanceRequestLineNo" name="AdvanceRequestLineNo" value="">
                @Html.TextBoxFor(model => model.AdvanceRequestLineNo, new { @class = "form-control" })
            </form>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <div id="DivSubmit">
                <button class="btn btn-primary" type="button" id="SubmitStaffImprestLines">Save</button>
            </div>
            <div id="DivUpdate">
                <button class="btn btn-success" type="button" id="UpdateStaffImprestLines">Update</button>
            </div>
        </div>

    </div>
    </div>
    </div>

    <div class="modal fade" id="AddAttachment">
    <div class="modal-dialog">
    <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Add staff advance attachment</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <form novalidate="" action="#" method="POST" id="AddAttachmentForm" autocomplete="off">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="postedFile" class="form-control-label">Attachment File</label>
                            <input type="file" id="postedFile" name="postedFile" class="form-control-file" required />
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">A file to upload must be chosen</div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-control-label" for="AttachmentDescription">Attachment description</label>
                            <textarea class="form-control" rows="2" id="AttachmentDescription" required></textarea>

                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">The attachment description must be supplied</div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <button class="btn btn-success" type="button" id="SaveAttachment">Save</button>
        </div>

    </div>
    </div>
    </div>
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="Logout.aspx">Logout</a>
        </div>
    </div>
    </div>
    </div>
    </main>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>

    <script type="text/javascript">
    var jQuery_1_12_4 = $.noConflict(true);
    </script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="js/sb-admin.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="vendor/datatables/jquery.dataTables.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="vendor/datatables/sum().js"></script>
    <script src="js/bootbox.all.min.js"></script>
    <script src="js/bootboxError.js"></script>
    <!-- Demo scripts for this page-->
    <script src="js/jquery.toast.js"></script>
    <script src="js/jquery.alphanum.js"></script>
    <script type="text/javascript">

    $(".MultiLineLimit").on('change keydown paste input', function () {
    this.value = (this.value.length <= 50 ? this.value : this.value.substring(0, 50));
    });
    var text_max = 50;
    $('#count_message').html(text_max + ' remaining');

    $('#MissionSummary').keyup(function () {
    var text_length = $('#MissionSummary').val().length;
    var text_remaining = text_max - text_length;

    $('#count_message').html(text_remaining + ' remaining');
    });

    var jQuery_3_3_1 = $.noConflict(true);

    jQuery_3_3_1('#Amount').numeric({
    maxPreDecimalPlaces: 10,
    maxDecimalPlaces: 2
    });
    jQuery_3_3_1('#NoOfUnits').numeric({
    maxPreDecimalPlaces: 10,
    maxDecimalPlaces: 2
    });
    jQuery_3_3_1('#UnitCost').numeric({
    maxPreDecimalPlaces: 10,
    maxDecimalPlaces: 2
    });

    jQuery_3_3_1('#SubmitAdvance').on('click', function (event) {
    event.preventDefault();

    var title = 'Submitting Advance Request';
    var icon = 'loading';
    var duration = 50000 * 1;

    //validate
    var form = $("#LeaveApplicationForm")

    if (form[0].checkValidity() === false) {
        event.preventDefault()
        event.stopPropagation()
        form.addClass('was-validated');
    } else if (form[0].checkValidity() === true) {
        // Perform ajax submit here...
        jQuery_3_3_1.Toast.showToast({ title: title, duration: duration, icon: icon, image: '' });

        jQuery.ajax({
            url: 'CreateAdvanceRequest.aspx/Save',
            type: "POST",
            data: '{param1:"' + $('#DateOfRequest').val() + '", param2:"' + $('#DateDue').val() + '", param3:"' + $('#DimCode4').val() + '", param4:"' + $('#DimCode1').val() + '", param5:"' + $('#DimCode2').val() + '", param6:"' + $('#MissionSummary').val() + '", param7:"' + $('#DimCode8').val() + '", param8:"' + $('#DimCode4').val() + '", param9:"' + $('#PreferredPaymentMethod').val() + '" }',
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (response) {

                if (response != null && response.d != null) {
                    var data = response.d;
                    // alert(typeof (data)); //it comes out to be string
                    //we need to parse it to JSON
                    data = $.parseJSON(data);

                    jQuery_3_3_1.Toast.hideToast();

                    if (data.Status != "000") {

                        bootbox.error({ title: "Approval error", message: data.Message });
                    } else {

                        bootbox.alert({
                            message: data.Message,
                            callback: function () {
                                window.location.href = 'AdvanceRequests.aspx?status=Pending';
                            }
                        })
                    }
                }
            },
            error: function () {
                // bootbox.error({ title: "System error", message: "An error occured." });
                jQuery_3_3_1.Toast.hideToast();

                bootbox.alert({
                    message: "The advance request was successfully sent for approval",
                    callback: function () {
                        window.setTimeout(function () {
                            //alert('redirecting');
                            window.location.href = 'AdvanceRequests.aspx?status=Pending';
                        }, 1000);//
                    }
                })
            },
            timeout: 10000
        });
    }
    });
    jQuery_3_3_1("#dataTable").on("click", ".delete_advanceRequestLines", function (e) {
    e.preventDefault();

    var pid = $(this).attr('data-id');

    bootbox.confirm({
        title: "<i class='fa fa-trash-alt'></i> Delete advance request line?",
        message: "Do you wish to delete this record?",
        buttons: {
            confirm: {
                label: 'Yes',
                className: 'btn-success'
            },
            cancel: {
                label: 'No',
                className: 'btn-danger'
            }
        },
        callback: function (result) {

            if (result == true) {

                //showToast('Deleting advance request line');
                // showToast(pid);

                jQuery.ajax({
                    url: 'CreateAdvanceRequest.aspx/DeleteAdvanceRequestLines',
                    type: "POST",
                    data: '{param1:"' + pid + '"}',
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (response) {

                        if (response != null && response.d != null) {
                            var data = response.d;
                            // alert(typeof (data)); //it comes out to be string
                            //we need to parse it to JSON
                            data = $.parseJSON(data);

                            // hideLoading();

                            bootbox.alert({
                                message: data.Message,
                                callback: function () {
                                    location.reload();
                                }
                            })
                        }
                    },
                    error: function () {
                        bootbox.error({ title: "System error", message: "An error occured." });
                    }
                });
            }
        }
    });
    });
    jQuery_3_3_1("#dataTable").on("click", ".EditAdvanceReqLine", function (e) {
    e.preventDefault();

    $('#DivUpdate').show();
    $('#DivSubmit').hide();

    var pid = $(this).attr('data-id');

    $("#AdvanceRequestLineNo").val(pid);

    $.ajax({
        url: 'CreateAdvanceRequest.aspx/GetRequestLineDetails',
        type: "POST",
        data: '{param1:"' + pid + '" }',
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        success: function (response) {

            if (response != null && response.d != null) {
                var data = response.d;
                // alert(typeof (data)); //it comes out to be string
                //we need to parse it to JSON
                data = $.parseJSON(data);
                $("#Item").val(data.Item).change();
                $('#ItemDescription').val(data.ItemDescription);
                $('#Purpose').val(data.Purpose);
                $('#UnitofMeasure').val(data.UnitOfMeasure);
                $('#UnitCost').val(data.UnitCost);
                $('#NoOfUnits').val(data.NoOfUnits);
                $('#Amount').val(data.AdvancedAmountLCY);
                $('#BudgetLineCode').val(data.ShortcutDimCode4); //KRCS
                //$('#BudgetLineCode').val(data.ShortcutDimCode5).change(); //GF
                jQuery_3_3_1('#AddAdvanceRequestLine').modal('show');
            }
        }
    });
    });
    jQuery_3_3_1('#UpdateStaffImprestLines').on('click', function (event) {
    event.preventDefault();

    var title = 'Updating line';
    var icon = 'loading';
    var duration = 50000 * 1;

    //validate
    var form = $("#CreateStaffImprestLines")

    if (form[0].checkValidity() === false) {
        event.preventDefault()
        event.stopPropagation()
        form.addClass('was-validated');
    } else if (form[0].checkValidity() === true) {
        // Perform ajax submit here...
        jQuery_3_3_1.Toast.showToast({ title: title, duration: duration, icon: icon, image: '' });

        jQuery.ajax({
            url: 'CreateAdvanceRequest.aspx/UpdateStaffImprestLines',
            type: "POST",
            data: '{param1:"' + $('#Item').val() + '", param2:"' + $('#ItemDescription').val() + '", param3:"' + $('#UnitofMeasure').val() + '", param4:"' + $('#UnitCost').val() + '", param5:"' + $('#NoOfUnits').val() + '", param6:"' + $('#Amount').val() + '", param7:"' + $('#AdvanceRequestLineNo').val() + '", param8:"' + $('#BudgetLineCode').val() + '", param9:"' + $('#Purpose').val() + '"}',
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (response) {

                if (response != null && response.d != null) {
                    var data = response.d;
                    // alert(typeof (data)); //it comes out to be string
                    //we need to parse it to JSON
                    data = $.parseJSON(data);

                    jQuery_3_3_1.Toast.hideToast();

                    bootbox.alert({
                        message: data.Message,
                        callback: function () {
                            location.reload();
                        }
                    })
                }
            }
        });
    }
    });
    jQuery_3_3_1("#dataTableAttachment").on("click", ".delete_attachment", function (e) {
    e.preventDefault();

    var pid = $(this).attr('data-id');

    bootbox.confirm({
        title: "<i class='fa fa-trash-alt'></i> Delete attachment?",
        message: "Do you wish to delete this record?",
        buttons: {
            confirm: {
                label: 'Yes',
                className: 'btn-success'
            },
            cancel: {
                label: 'No',
                className: 'btn-danger'
            }
        },
        callback: function (result) {

            if (result == true) {

                jQuery.ajax({
                    url: 'CreateAdvanceRequest.aspx/DeleteAdvanceRequestAttachment',
                    type: "POST",
                    data: '{param1:"' + pid + '"}',
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (response) {

                        if (response != null && response.d != null) {
                            var data = response.d;
                            // alert(typeof (data)); //it comes out to be string
                            //we need to parse it to JSON
                            data = $.parseJSON(data);

                            //hideLoading();

                            bootbox.alert({
                                message: data.Message,
                                callback: function () {
                                    location.reload();
                                }
                            })
                        }
                    },
                    error: function () {
                        bootbox.error({ title: "System error", message: "An error occured." });
                    }
                });
            }
        }
    });
    });
    jQuery_3_3_1("#dataTableAttachment").on("click", ".downloadfile", function (e) {
    e.preventDefault();

    var pid = $(this).attr('data-id');
    window.location.href = "uploads/" + pid + "";

    });
    jQuery_3_3_1('#SaveAttachment').on('click', function (event) {
    event.preventDefault();

    var title = 'Uploading Attachment';
    var icon = 'loading';
    var duration = 50000 * 1;

    //validate
    var form = $("#AddAttachmentForm")

    if (form[0].checkValidity() === false) {
        event.preventDefault()
        event.stopPropagation()
        form.addClass('was-validated');
    } else if (form[0].checkValidity() === true) {
        // Perform ajax submit here...
        jQuery_3_3_1.Toast.showToast({ title: title, duration: duration, icon: icon, image: '' });

        $.ajax({
            url: 'FileUploadHandler.ashx',
            type: 'POST',
            data: new FormData($('#AddAttachmentForm')[0]),
            cache: false,
            contentType: false,
            processData: false,
            success: function (file) {

                //alert(file.name);

                jQuery.ajax({
                    url: 'CreateAdvanceRequest.aspx/SaveAttachment',
                    type: "POST",
                    data: '{ param1:"' + file.name + '", param2:"' + $('#AttachmentDescription').val() + '"  }',
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (response) {

                        if (response != null && response.d != null) {
                            var data = response.d;
                            // alert(typeof (data)); //it comes out to be string
                            //we need to parse it to JSON
                            data = $.parseJSON(data);

                            jQuery_3_3_1.Toast.hideToast();

                            bootbox.alert({
                                message: data.Message,
                                callback: function () {
                                    window.location.href = 'CreateAdvanceRequest.aspx?No=' + data.Status + '';
                                }
                            })
                        }
                    }
                });
            },
            xhr: function () {
                var fileXhr = $.ajaxSettings.xhr();
                if (fileXhr.upload) {
                    $("progress").show();
                    fileXhr.upload.addEventListener("progress", function (e) {
                        if (e.lengthComputable) {
                            $("#fileProgress").attr({
                                value: e.loaded,
                                max: e.total
                            });
                        }
                    }, false);
                }
                return fileXhr;
            }
        });
    }
    });
    jQuery_3_3_1('#SubmitStaffImprestLines').on('click', function (event) {
    event.preventDefault();

    var title = 'Creating advance request line';
    var icon = 'loading';
    var duration = 50000 * 1;

    //validate
    var form = $("#CreateStaffImprestLines")

    if (form[0].checkValidity() === false) {
        event.preventDefault()
        event.stopPropagation()
        form.addClass('was-validated');
    } else if (form[0].checkValidity() === true) {
        // Perform ajax submit here...
        jQuery_3_3_1.Toast.showToast({ title: title, duration: duration, icon: icon, image: '' });

        jQuery.ajax({
            url: 'CreateAdvanceRequest.aspx/CreateStaffImprestLines',
            type: "POST",
            data: '{param1:"' + $('#Item').val() + '", param2:"' + $('#ItemDescription').val() + '", param3:"' + $('#UnitofMeasure').val() + '", param4:"' + $('#UnitCost').val() + '", param5:"' + $('#NoOfUnits').val() + '", param6:"' + $('#Amount').val() + '", param7:"' + $('#DateOfRequest').val() + '", param8:"' + $('#DateDue').val() + '", param9:"' + $('#DimCode4').val() + '", param10:"' + $('#DimCode1').val() + '", param11:"' + $('#DimCode2').val() + '", param12:"' + $('#BudgetLineCode').val() + '", param13:"' + $('#DimCode4').val() + '", param14:"' + $('#DimCode8').val() + '", param15:"' + $('#PreferredPaymentMethod').val() + '", param16:"' + $('#MissionSummary').val() + '", param17:"' + $('#Purpose').val() + '"}',
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (response) {

                if (response != null && response.d != null) {
                    var data = response.d;
                    // alert(typeof (data)); //it comes out to be string
                    //we need to parse it to JSON
                    data = $.parseJSON(data);

                    jQuery_3_3_1.Toast.hideToast();

                    bootbox.alert({
                        message: data.Message,
                        callback: function () {

                            window.location.href = 'CreateAdvanceRequest.aspx?No=' + data.Status + '';

                        }
                    })
                }
            }
        });
    }
    });

    </script>

    <script src="js/jquery.toast.js"></script>
    <!-- JQUERY DATEPICKER-->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <%--
    <script src="js/select2.min.js"></script>--%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script>
    $(document).ready(function () {
    $("#Attachment").hide();

    $('#PreferredPaymentMethod').select2({
        sorter: function (data) {
            return data.sort(function (a, b) {
                return a.text < b.text ? -1 : a.text > b.text ? 1 : 0;
            });
        }
    });

    $('#DimCode1').select2({
        sorter: function (data) {
            return data.sort(function (a, b) {
                return a.text < b.text ? -1 : a.text > b.text ? 1 : 0;
            });
        }
    });
    $('#DimCode2').select2({
        sorter: function (data) {
            return data.sort(function (a, b) {
                return a.text < b.text ? -1 : a.text > b.text ? 1 : 0;
            });
        }
    });

    $('#DimCode4').select2({
        sorter: function (data) {
            return data.sort(function (a, b) {
                return a.text < b.text ? -1 : a.text > b.text ? 1 : 0;
            });
        }
    });
    $('#DimCode8').select2({
        sorter: function (data) {
            return data.sort(function (a, b) {
                return a.text < b.text ? -1 : a.text > b.text ? 1 : 0;
            });
        }
    });
    $('#Item').select2({
        sorter: function (data) {
            return data.sort(function (a, b) {
                return a.text < b.text ? -1 : a.text > b.text ? 1 : 0;
            });
        }
    });
    $('#UnitofMeasure').select2({
        sorter: function (data) {
            return data.sort(function (a, b) {
                return a.text < b.text ? -1 : a.text > b.text ? 1 : 0;
            });
        }
    });

    //$('#BudgetLineCode').select2({
    //    sorter: function (data) {
    //        return data.sort(function (a, b) {
    //            return a.text < b.text ? -1 : a.text > b.text ? 1 : 0;
    //        });
    //    }
    //});
    //GF

    $("#DateOfRequest").datepicker({
        dateFormat: 'dd/mm/yy',

        onSelect: function (date) {

            $("#DateDue").datepicker("option", "minDate", date);
            $("#DateDue").datepicker("option", "maxDate", '+2y');
        }

    }).val();
    $("#DateDue").datepicker({ dateFormat: 'dd/mm/yy' }).val();
    $('#DivUpdate').hide();
    $("#NoOfUnits").keyup(function () {
        if ($("#NoOfUnits").val().length == 0) {
            $("#Amount").val('0');
            return;
        }
        else {
            if ($("#UnitCost").val().length == 0) {
                return;
            } else {
                var one = parseFloat($("#NoOfUnits").val(), 10);
                var two = parseFloat($("#UnitCost").val(), 10);
                var three = parseFloat($("#ExchangeRate").val(), 10);
                // $(".total").text();
                $("#Amount").val(one * two * three);
            }
        }

    });
    $("#UnitCost").keyup(function () {
        if ($("#UnitCost").val().length == 0) {
            $("#Amount").val('0');
            return;
        }
        else {
            if ($("#NoOfUnits").val().length == 0) {
                return;
            } else {
                var one = parseFloat($("#NoOfUnits").val(), 10);
                var two = parseFloat($("#UnitCost").val(), 10);
                var three = parseFloat($("#ExchangeRate").val(), 10);
                // $(".total").text();
                $("#Amount").val(one * two * three);
            }
        }

    });
    $('#DivUpdate').hide();
    $("#BudgetLineCode").blur(function () {

        //validate here
        jQuery_3_3_1.ajax({
            url: 'CreateAdvanceRequest.aspx/ValidateDim3Code',
            type: "POST",
            data: '{param1:"' + $("#BudgetLineCode").val() + '" }',
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (response) {

                if (response != null && response.d != null) {
                    var data = response.d;
                    // alert(typeof (data)); //it comes out to be string
                    //we need to parse it to JSON
                    data = $.parseJSON(data);

                    if (data.Status != "000") {

                        bootbox.error({ title: "Validation error", message: "The dimension code " + $("#BudgetLineCode").val() + " provided is invalid" });
                        $("#BudgetLineCode").val('');
                    }
                }
            },
            error: function () {
                bootbox.error({ title: "System error", message: "An error occured." });
            }
        });
    });
    //KRCS
    $("#Item").change(function () {

        if ($("#Item").val() != 'OTHERS') {

            $("#NoOfUnits").val('');
            $('#ItemDescription').val('');
            //$('#Purpose').val('');
            $("#UnitofMeasure").val('').change();
            $('#UnitCost').val('');
            $('#ExchangeRate').val('');
            $("#Amount").val('');
            $("#ExchangeRate").val('');
            //selection fields
            jQuery_3_3_1.ajax({
                url: 'CreateAdvanceRequest.aspx/LoadAdvanceRequestItem',
                type: "POST",
                data: '{Code:"' + $("#Item").val() + '" }',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {

                    if (response != null && response.d != null) {
                        var data = response.d;
                        // alert(typeof (data)); //it comes out to be string
                        //we need to parse it to JSON
                        data = $.parseJSON(data);


                        document.getElementById('Amount').disabled = true;


                        if (data.UnitCost == "0") {
                            document.getElementById('UnitCost').disabled = false;
                            document.getElementById('UnitCost').required = true;

                        } else {
                            document.getElementById('UnitCost').disabled = true;
                            document.getElementById('ItemDescription').disabled = true;
                            document.getElementById('UnitofMeasure').disabled = true;
                        }
                        $('#ItemDescription').val(data.Description);
                        $("#UnitofMeasure").val(data.UnitOfMeasure).change();
                        $('#UnitCost').val(data.UnitCost);
                        $('#ExchangeRate').val(data.ExchangeRate);
                    }
                },
                error: function () {
                    bootbox.error({ title: "System error", message: "An error occured." });
                }
            });
        } else {
            document.getElementById('UnitCost').disabled = false;
            document.getElementById('ItemDescription').disabled = false;
            document.getElementById('UnitofMeasure').disabled = false;
            //document.getElementById('Purpose').disabled = false;
        }

    });

    //intervention

    //$.ajax({
    //    url: 'CreateAdvanceRequest.aspx/LoadInterventions',
    //    type: "POST",
    //    dataType: "json",
    //    contentType: "application/json; charset=utf-8",
    //    success: function (response) {

    //        if (response != null && response.d != null) {
    //            var data = response.d;
    //            // alert(typeof (data)); //it comes out to be string
    //            //we need to parse it to JSON
    //            data = $.parseJSON(data);
    //            $("#BudgetLineCode").append($('<option></option>').attr("value", "OTHERS").text("Others"));
    //            $.each(data, function (i, item) {
    //                $("#BudgetLineCode").append($('<option></option>').attr("value", item.Code).text(item.Description));
    //            });
    //        }
    //    }
    //});
    //GF

    $.ajax({
        url: 'CreateAdvanceRequest.aspx/LoadAdvanceTypes',
        type: "POST",
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        success: function (response) {

            if (response != null && response.d != null) {
                var data = response.d;
                // alert(typeof (data)); //it comes out to be string
                //we need to parse it to JSON
                data = $.parseJSON(data);
                $("#Item").append($('<option></option>').attr("value", "OTHERS").text("Others"));
                $.each(data, function (i, item) {
                    $("#Item").append($('<option></option>').attr("value", item.Code).text(item.Description));
                });
            }
        }
    });
    $.ajax({
        url: 'CreateAdvanceRequest.aspx/LoadUnitsOfMeasure',
        type: "POST",
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        success: function (response) {

            if (response != null && response.d != null) {
                var data = response.d;
                // alert(typeof (data)); //it comes out to be string
                //we need to parse it to JSON
                data = $.parseJSON(data);

                $.each(data, function (i, item) {
                    $("#UnitofMeasure").append($('<option></option>').attr("value", item.Code).text(item.Description));
                });
            }
        }
    });
    $.ajax({
        url: 'CreateAdvanceRequest.aspx/LoadAdvanceRequest',
        type: "POST",
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        success: function (response) {

            if (response != null && response.d != null) {
                var data = response.d;

                data = $.parseJSON(data);
                $('#DateDue').val(data.DateDue);
                $('#DateOfRequest').val(data.DateOfRequest);
                $("#DimCode1").val(data.GlobalDimCode1).change();
                $("#DimCode2").val(data.GlobalDimCode2).change();
                $("#DimCode4").val(data.ShortcutDimCode4).change();
                $("#DimCode8").val(data.ShortcutDimCode8).change();
                $("#Balance").val(data.Balance);
                $("#PreferredPaymentMethod").val(data.PreferredPaymentMethod).change();
                $("#MissionSummary").val(data.MissionSummary);
            }
        }
    });
    });
</script>

